html,
body,
#app {
  height: 100%;
  width: 100%;
  background-color: #fbe8a6;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#game-container {
  height: 100%;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#card-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50%;
  justify-content: center;
  align-items: flex-start;
}

.name-card {
  display: flex;
  height: 80%;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 3%;
  box-shadow: 2px 2px 2px gray;
  background-color: #f4976c;
  color: #303c6c;
  font-size: 28pt;
}

#left-card {
  margin: 0px auto 0px auto;
}

#right-card {
  margin-right: auto;
}

.name-card:hover {
  animation: tilt-shaking 0.2s infinite;
  animation-iteration-count: 3;
  animation-delay: 0.6s;
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#side-panel {
  display: flex;
  text-align: center;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #b4dfe5;
  color: #303c6c;
  padding: 10px;
  border-left: 1px solid #303c6c;
  /* margin-left: auto; */
}

#name-list {
  background-color: #d2fdff;
  padding: 5%;
  font-size: 16pt;
  width: 50%;
}

#settings-box {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
  flex-direction: column;
  background-color: #f4976c;
  color: #303c6c;
  font-family: "Chango";
  font-size: 24pt;
}

#settings-box > form {
  text-align: center;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #b4dfe5;
  padding: 8%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

#submit-settings {
  background-color: #fbe8a6;
  color: #303c6c;
  border: none;
  width: 50%;
  margin: 0px auto;
  height: 30%;
  width: 50%;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #303c6c;
  font-size: 18pt;
  cursor: pointer;
}

#submit-settings:hover {
  box-shadow: 2px 2px 2px #303c6c;
}

#welcome-box {
  display: flex;
  height: 40%;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  font-family: "Chango";
  font-size: 26pt;
  color: #303c6c;
}

#welcome-box:hover {
  cursor: pointer;
}

#logo-bottom {
  margin: 120px 0px 0px -250px;
  background-color: #f4976c;
  padding: 5px 20px;
}

#logo-top {
  background-color: #f4976c;
  padding: 5px 20px;
  z-index: 1;
}
